{% extends 'base.html.twig' %}

{% block title %}Social Programmers{% endblock %}

{% block body %}
    <div class="container min-vh-100">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">

                <div class="p-5 text-white bg-dark rounded-3 shadow mb-5">
                    <h1 class="fw-lighter">Welcome</h1>
                    <p>The objective of this group is to help each other learn, through knowledge sharing, mentoring and
                        co-coding. Ideally in real life. All technologies, levels, ages and genders are very welcome.
                        Let code, chat or have a drink
                        together.</p>
                    <hr class="bg-white text-white bg-white">
                </div>

                <div class="row">
                    <h3 class="fw-light mb-4">Upcoming events</h3>
                    <div class="col-md-6">
                        <div class="card text-white bg-dark border-0 shadow">
                            <img class="card-img-top w-100"
                                 src="https://maps.google.com/maps/api/staticmap?markers=icon%3Ahttps%3A%2F%2Fsecure.meetupstatic.com%2Fs%2Fimg%2F5961591462445047%2Fmup-custom-google-map-pin.png%7C50.074510%2C14.439285&zoom=17&size=480x300&sensor=false&key=AIzaSyA3fSxhHZNQNfMjJuMFvmULACXrBfFz9jQ&signature=kknlUxm75E_MaybRzxULn6RSDZ8%3D"/>
                            <div class="card-body">
                                <b>Coding Session - Web Dev</b>
                                <div>30.09.2021 @ 18:30-21:30</div>
                            </div>
                            <a class="stretched-link" target="_blank" href="https://www.facebook.com/events/183059493941471/?acontext=%7B%22event_action_history%22%3A[%7B%22surface%22%3A%22group%22%7D]%7D"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
